/*-------- general layout --------*/
:root {
    --primary-color: #590D22;
    --secondary-color: #FFCCD5;
    --ascent1-color: #A4133C;
    --ascent2-color: #FF4D6D;
    --ascent3-color: #FF8FA3;
    --white-color: #FFF0F3;
    --header-font: "Mozilla Headline", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
    font-family: var(--body-font);
}

/*-------- header layout --------*/
header {
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: var(--header-font);
    color: var(--white-color);
    font-size: 2.5rem;
    padding: 1rem;
}


/*-------- form layout --------*/
fieldset {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem auto;
    max-width: 450px;
    font-family: var(--body-font);
}

legend {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}

label {
    color: var(--primary-color);
    display: block;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

div {
    color: var(--primary-color);
    display: block;
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1.2rem;
}

.checkbox {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

input[type="checkbox"]{
    margin-right: 0.7rem;
    font-size: 1rem;
}

input[type="submit"] {
    background-image: linear-gradient(var(--primary-color), var(--ascent1-color));
    color: var(--white-color);
    border: none;
    padding: 1rem 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--body-font);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: var(--primary-color) 3px solid;
}

input[type="submit"]:hover {
    background-image: linear-gradient(var(--ascent3-color), var(--secondary-color));
    color: var(--primary-color);
    border: var(--primary-color) 3px solid;
}

.stars {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.star {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

input[type="radio"] {
    margin-top: 10px;
}

.text {
    margin-top: 1.5rem;
}

main h1 {
    font-family: var(--header-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
    margin: 5rem;
}

.form2 {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}
/*-------- footer layout --------*/
footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 1.5rem;
    font-family: var(--heading-font);
    font-size: 1.2rem;
}
