@media screen and (min-width: 540px){

    .after::after {
        content: " 🌤️";
    }

    h2 {
        font-size: 1.5rem;
        text-align: left;
        padding: 1rem;
        color: var(--accent3-color);
        background-color: var(--accent1-color);
        position: relative;
        right: 15%;
    }

    body{
        background-color: var(--accent2-color);
    }

    .hero-image {
        align-self: center;
    }

    .hero-container p {
        font-size: 1rem;
    }

    .hero-container {
        position: relative;
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }

    .info-box {
        position: absolute;
        background-color: var(--accent3-color);
        opacity: 0.9;
        padding: 0 1rem;
        border-radius: 8px;
    }

    .weather-icon {
        display: none;
    }

    .data {
        top: 10%;
        left: 5%;
    }

    .weather {
        bottom: 10%;
        right: 5%;
    }

    footer {
        font-size: 1.5rem;
        padding: 2.5rem;
    }
}